@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #0f172a;
}

#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#hero video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-content {
    height: 100%;
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deskripsi span {
    color: red;
    font-weight: 500;
}

p{
    color: white;
    font-weight: 1;
}

.nama{
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
}

.welkam{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.deskripsi{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn {
    padding: 10px 20px;
    background-color: rgba(55, 55, 55, 0.5);
    color: white;
    border-radius: 10px;
    font-weight: 600;
}